@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

/* ----------------------------- */
/* Custom Properties             */
/* ----------------------------- */
:root {
  /* font-family */
  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  /* colors */
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /* font-sizes */
  --h1: 1.5rem;
  --h2: 1.25rem;
  --h2-cta: 1.125rem;
  --body: 1rem;
  --btn: 0.625rem;
  --btn-cta: 0.75rem;
  --footer: 0.75rem;
  --link: 1.125rem;
}

@media (min-width: 500px) {
  :root {
    /* font-sizes */
    --h1: 2.5rem;
    --h2: 1.75rem;
    --h2-cta: 2rem;
    --body: 1.125rem;
    --btn: 0.875rem;
    --btn-cta: 1.25rem;
    --footer: 0.8125rem;
  }
}

/* ----------------------------- */
/* Reset                         */
/* ----------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
/* Body */

body {
  font-family: var(--ff-body);
  font-size: var(--body);
  color: var(--grayish-blue);
  /* min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr; */
}

/* Images */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

/* Animation */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------- */
/* Utility Classes               */
/* ----------------------------- */
.container {
  margin-inline: auto;
  max-width: 1280;
  width: 92%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  background: var(--very-pale-cyan);
  color: var(--very-dark-cyan);
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-120%);
  transition: transform 500ms ease-in;
  position: absolute;
  z-index: 1000;
}
.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-white {
  background-color: #fff;
}
.bg-pink {
  background-color: var(--pink);
}
.bg-very-pale-cyan {
  background-color: var(--very-pale-cyan);
}
.bg-very-dark-cyan {
  background-color: var(--very-dark-cyan);
}

.text-very-dark-cyan {
  color: var(--very-dark-cyan);
}
.text-grayish-blue {
  color: var(--grayish-blue);
}
.text-white {
  color: #fff;
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

.h1 {
  font-size: var(--h1);
  font-family: var(--ff-heading);
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.005em;
}

.h2 {
  font-size: var(--h2);
  font-family: var(--ff-heading);
  font-weight: 600;
  line-height: 150%;
}

.h2-cta {
  font-size: var(--h2-cta);
  font-family: var(--ff-heading);
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: -0.0035em;
}

.body {
  font-size: var(--body);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 150%;
}
.btn {
  font-size: var(--btn);
  font-family: var(--ff-body);
  font-weight: 700;
  line-height: 140%;
}
.btn-cta {
  font-size: var(--btn-cta);
  font-family: var(--ff-body);
  font-weight: 700;
  line-height: 150%;
}
.footer {
  font-size: var(--footer);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.025em;
}
.link {
  font-size: var(--link);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 150%;
}

.text-center {
  text-align: center;
}
/* ----------------------------- */
/* Navigation                    */
/* ----------------------------- */
header {
  padding-top: 1.5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  height: 17px;
}

@media (min-width: 500px) {
  header {
    padding-top: 3rem;
  }
  nav img {
    height: 32px;
  }
}
/* ----------------------------- */
/* Hero                         */
/* ----------------------------- */

.hero__wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 5rem;
}
.hero__wrapper--left p {
  padding-block: 1.3125rem 2rem;
}
.hero__wrapper--right {
  padding-top: 3.375rem;
}

@media (min-width: 500px) {
  .hero__wrapper {
    padding-block: 4rem;
    text-align: left;
    flex-direction: row;
  }
  .hero__wrapper--left {
    width: 41.67%;
  }
  .hero__wrapper--right {
    width: 58.3%;
    padding-top: 0rem;
  }
  .hero__wrapper--left p {
    padding-block: 1.75rem 2rem;
  }
}
/* ----------------------------- */
/* BTN                         */
/* ----------------------------- */
.btn-pink {
  padding-inline: 3.6875rem;
  padding-block: 0.65625rem;
  border: none;
  background: var(--pink);
  border-radius: 90px;
  color: #fff;
  transition: all 0.35s ease-in;
}
.btn-pink:hover {
  background: hsl(322, 100%, 80%);
}
.btn-white {
  padding-inline: 1.4375rem;
  padding-block: 0.3125rem;
  background-color: #fff;
  transition: all 0.35s ease-in;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  color: var(--very-dark-cyan);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.btn-white:hover {
  color: var(--grayish-blue);
}
@media (min-width: 500px) {
  .btn-white {
    padding-inline: 4rem;
    padding-block: 0.8125rem 1rem;
  }
  .btn-pink {
    padding-inline: 4.3125rem;
    padding-block: 1rem 1.1875rem;
  }
}
/* ----------------------------- */
/* About                         */
/* ----------------------------- */

/* ----------------------------- */
/* Creations                     */
/* ----------------------------- */

/* ----------------------------- */
/* Footer                         */
/* ----------------------------- */
