<footer class="bg-very-dark-cyan">
  <a href="/">
    <img src="{{footer.logo}}" alt="logo home" />
  </a>
  <div class="footer__wrapper">
    <div class="footer__info">
      {% for item in footer.info %}
      <div class="footer__info--{{item.icon}}">
        <img src="/images/icon-{{item.icon}}.svg" alt="" aria-hidden="true" />
        <p class="text-white">{{item.text}}</p>
      </div>
      {% endfor %}
    </div>
    <div class="footer__links">
      {% for item in footer.links %}
      <p class="text-white footer__link--{{item.id}}">{{item.text}}</p>
      {% endfor %}
    </div>
    <div class="footer__socials">
      {% for item in footer.socials %} {% ext item.icon, item.url %} {% endfor
      %}
    </div>
  </div>
</footer>
